Batman: Shadow of the Bat;1;The Last Arkham, Part 1;DC Comics;33695;Alan Grant, Norm Breyfogle

Batman: Shadow of the Bat;2;The Last Arkham, Part 2;DC Comics;33725;Alan Grant, Norm Breyfogle

Batman: Shadow of the Bat;3;The Last Arkham, Part 3;DC Comics;33756;Alan Grant, Norm Breyfogle

Batman: Shadow of the Bat;4;The Last Arkham, Part 4;DC Comics;33786;Alan Grant, Norm Breyfogle

